body {
    background-color: whitesmoke;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color:gray ;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 1px;
}
a {
    list-style: none;
}

li {
    list-style: none;
}

.bemvindo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px;
}

img {
    height: 30px;
    width: 200px;
    position:static;
    top: 40px;
    left: 40px;
}
 footer {
    background-color: grey;
    margin: auto;
    padding: 20PX;
 }
